body {
    background-color: #a7d5d8;
}

a {
    text-decoration: none;
    align-content: center;
    background-image: #4ff6ff;
}
#click1{
    margin-top: 290px;
}
a:hover{
 font-size: 5vh;
}
a:active{
    color:rgb(197, 6, 165);
}